    {% extends 'base.html.twig' %}
    {% block menu %}{{ parent() }}{% endblock %}
    {% block title %}Venta{% endblock %}
    {% block portlet_form %}form{% endblock %}
    {% block breadcrumb %}
    {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Nuevo Venta{% endblock %}

    {% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal form-row-sepe','id':'formentity','name':'formentity'}}) }}
    {{ form_widget(form) }}
    <div class="form-body">
                    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn green" id="NuevoUsuario" name="NuevoUsuario" value=" Guardar">
                <input type="submit" class="btn green" id="GuardaCrear" name="GuardaCrear"
                       value=" Guardar y crear otro">
                <a href="{{ path('venta_index') }}" class="btn btn-default">Volver</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    {% endblock %}
