    {% extends 'base.html.twig' %}
    {% block menu %}{{ parent() }}{% endblock %}
    {% block title %}Venta{% endblock %}
    {% block portlet_form %}form{% endblock %}
    {% block breadcrumb %}
    {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Editar Venta{% endblock %}

    {% block body %}
    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal form-row-sepe','id':'formentity','name':'formentity'}}) }}
    {{ form_widget(edit_form) }}
    <div class="form-body">
                        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn green" id="GuardarUsuario" name="GuardarUsuario" value=" Guardar">
                <a href="{{ path('venta_index') }}" class="btn btn-default">Volver</a>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
    {% endblock %}
