    {% extends 'base.html.twig' %}
    {% block title %}Utilidad{% endblock %}
    {% block breadcrumb %}
    {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Listado de Utilidad{% endblock %}
    {% block stylesheetsTables %}{{ parent() }}{% endblock %}

            {% block body %}
        <div class="row margin-bottom-20">
                <div class="col-md-3">
                    <a href="{{ path('utilidad_new') }}"
                       class="btn btn-default green-stripe fa fa-plus">Nuevo</a>
                </div>
            </div>
                <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover" id="TablaUtilidad">
                    <thead>
                    <tr>
                            <th>Id</th>
                            <th>Mes</th>
                            <th>Valor</th>
                            <th>Ventas</th>
                            <th>Gastos</th>
                            <th>Impuestos</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for utilidad in utilidads %}
                    <tr>
                                <td>
                                    <a href="{{ path('utilidad_show', { 'id': utilidad.id }) }}">{{ utilidad.id }}</a>
                                </td>
                                <td>{% if utilidad.mes %}{{ utilidad.mes|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ utilidad.valor }}</td>
                                <td>{{ utilidad.ventas }}</td>
                                <td>{{ utilidad.gastos }}</td>
                                <td>{{ utilidad.impuestos }}</td>
                                <td>
                                    <ul>
                                            <li>
                                                <a href="{{ path('utilidad_show', { 'id': utilidad.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('utilidad_edit', { 'id': utilidad.id }) }}">edit</a>
                                            </li>
                                    </ul>
                                </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
        {% block javascriptsTable %}
    {{ parent() }}
<script>
    jQuery(document).ready(function () {
        initTableUtilidad.init();
    });
</script>
{% endblock %}