    {% extends 'base.html.twig' %}
    {% block title %}Gasto{% endblock %}
    {% block breadcrumb %}
    {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Listado de Gasto{% endblock %}
    {% block stylesheetsTables %}{{ parent() }}{% endblock %}

            {% block body %}
        <div class="row margin-bottom-20">
                <div class="col-md-3">
                    <a href="{{ path('gasto_new') }}"
                       class="btn btn-default green-stripe fa fa-plus">Nuevo</a>
                </div>
            </div>
                <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover" id="TablaGasto">
                    <thead>
                    <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Numerogasto</th>
                            <th>Gastomn</th>
                            <th>Gastocuc</th>
                            <th>Gastototal</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gasto in gastos %}
                    <tr>
                                <td>
                                    <a href="{{ path('gasto_show', { 'id': gasto.id }) }}">{{ gasto.id }}</a>
                                </td>
                                <td>{% if gasto.fecha %}{{ gasto.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ gasto.numeroGasto }}</td>
                                <td>{{ gasto.gastoMN }}</td>
                                <td>{{ gasto.gastoCUC }}</td>
                                <td>{{ gasto.gastoTotal }}</td>
                                <td>
                                    <ul>
                                            <li>
                                                <a href="{{ path('gasto_show', { 'id': gasto.id }) }}">show</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('gasto_edit', { 'id': gasto.id }) }}">edit</a>
                                            </li>
                                    </ul>
                                </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
        {% block javascriptsTable %}
    {{ parent() }}
<script>
    jQuery(document).ready(function () {
        initTableGasto.init();
    });
</script>
{% endblock %}