{% extends 'base.html.twig' %}
    {% block title %}Operacion{% endblock %}
    {% block breadcrumb %}
        {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Listado de Operacion{% endblock %}
    {% block stylesheetsTables %}
        {{ parent() }}
    {% endblock %}

            {% block body %}
                <div class="row margin-bottom-20">
                    <div class="col-md-3">
                        <a href="{{ path('operacion_new') }}"
                           class="btn btn-default green-stripe fa fa-plus">Nuevo</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="tableBuscar">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nombre del Comprador</th>
                                <th>No. Factura</th>
                                <th>No. O.D.</th>
                                <th>Operacion</th>
                                <th>Importe</th>
                                <th>Costo</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for operacion in operacions %}
                                <tr>
                                    <td>{% if operacion.fecha %}{{ operacion.fecha|date('d/m/y') }}{% endif %}</td>
                                    <td>{{ operacion.comprador }}</td>
                                    <td>{{ operacion.noFactura }}</td>
                                    <td>{{ operacion.ordenDespacho }}</td>
                                    <td>{{ operacion.tipoOperacion.descripcion }}</td>
                                    <td>{{ operacion.total|number_format(2) }}</td>
                                    {%set total = operacion.costoCUC + operacion.costoMN  %}
                                    <td>{{ total|number_format(2) }}</td>
                                    <td>
                                        <i><a href="{{ path('operacion_show', { 'id': operacion.id }) }}" class="fa icon-close"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}
        {% block javascriptsTable %}
            {{ parent() }}
            <script>
                jQuery(document).ready(function () {
                    initTableOperacion.init();
                });
            </script>
        {% endblock %}