    {% extends 'base.html.twig' %}
    {% block title %}Operacion{% endblock %}
    {% block breadcrumb %}
    {{ breadcrumb.breadcrumb(['Inicio','NIVEL_2','NIVEL_3']) }}
    {% endblock %}
    {% block title_portlet %}Mostrando Operacion{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover col-md-offset-4">
                <tbody>
                    <tr>
                        <th>Fecha</th>
                            <td>{% if operacion.fecha %}{{ operacion.fecha|date('d/M/Y') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Comprador</th>
                            <td>{{ operacion.comprador }}</td>
                    </tr>
                    <tr>
                        <th>No. Factura</th>
                        <td>{{ operacion.noFactura}}</td>
                    </tr>
                    <tr>
                        <th>No. Orden</th>
                        <td>{{ operacion.ordenDespacho}}</td>
                    </tr>
                    <tr>
                        <th>Importe CUC</th>
                            <td>{{ operacion.importeCUC }}</td>
                    </tr>
                    <tr>
                        <th>Importe MN</th>
                            <td>{{ operacion.importeMN }}</td>
                    </tr>
                    <tr>
                        <th>Operacion</th>
                            <td>{{ operacion.tipoOperacion}}</td>
                    </tr>
                    <tr>
                        <th>Descuento</th>
                        <td>{{ operacion.tipoOperacion.descuento~'%'}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-6 margin-top-20">
                {{ form_start(delete_form) }}
                <a class="btn btn-default" href="{{ path('operacion_index') }}">Volver</a>
                <a class="btn btn-default"
                   href="{{ path('operacion_edit', { 'id': operacion.id }) }}">Editar</a>
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    {% endblock %}
